<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "serviceType": "{{ serviceType }}",
  "provider": {
    "@type": "LandscapingBusiness",
    "name": "Serene Landscaping",
    "telephone": "(587) 566-9879"
  },
  "areaServed": [
    {
      "@type": "City",
      "name": "Edmonton"
    },
    {
      "@type": "City",
      "name": "St. Albert"
    },
    {
      "@type": "City",
      "name": "Spruce Grove"
    },
    {
      "@type": "City",
      "name": "Sherwood Park"
    }
  ],
  "description": "{{ description }}"
}
</script>
