// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---     #banner (LCP hero)     -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
    #banner {
        padding: var(--sectionPadding);
        padding-bottom: 3.75rem;
        padding-top: clamp(8rem, 12vw, 9.3125rem);
        position: relative;
        overflow: hidden;

        .cs-container {
            margin: auto;
            max-width: 112.5rem;
            padding-top: clamp(8rem, 45vw, 12rem);
            position: relative;
            width: 100%;
            z-index: 1;
        }

        .cs-container::before {
            background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.92));
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .cs-content {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 4vw, 2.5rem);
            row-gap: 1rem;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
            font-size: clamp(2.4375rem, 6vw, 4.625rem);
            margin-bottom: 0;
        }

        .cs-background {
            z-index: -2;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                pointer-events: none;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .cs-background,
        .cs-background img {
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .cs-button-group {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        .cs-button-solid {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.2;
            text-align: center;
            text-decoration: none;
            min-width: 12.5rem;
            margin: 0;
            box-sizing: border-box;
            padding: 0.75rem 1.5rem;
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            border-radius: 0.25rem;
            display: inline-block;
            position: relative;
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 48rem) {
    #banner .cs-container::before {
        background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.92));
    }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1786 {
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16/16 * 1rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(48/16 * 1rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: calc(750/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            /* 49px - 84px */
            font-size: clamp(3.0625rem, 6vw, 5.25rem);
        }

        .cs-topper,
        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(32/16 * 1rem);
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: calc(8/16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(200/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1920/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #hero-1786 {
        /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
        padding-bottom: 14vw;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1786 {
            .cs-background {
                &:before {
                    opacity: 0.85;
                }
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #h-services-143 {
        /* 40px - 100px */
        padding: 0 calc(16 / 16 * 1em) clamp(2.5rem, 7.9vw, 6.25rem) calc(16 / 16 * 1rem);
        position: relative;
        /* give a higher z index than the hero so it can sit on top */
        z-index: 10;

        .cs-card-group {
            width: 100%;
            max-width: calc(465 / 16 * 1rem);
            margin: 0 auto 0;
            /* negative margin pulls it up on top of the hero section */
            /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(5rem, 13vw, 4.75rem) * -1);
            /* 40px - 60px top and bottom, 16px - 44px left & right */
            padding: clamp(2.5rem, 4.7vw, 3.75rem) clamp(1rem, 5.3vw, 2.75rem);
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
            border-radius: calc(5 / 16 * 1rem);
            border-top: 8px solid var(--primary);
            background-color: #fff;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
        }

        .cs-item {
            list-style: none;
            margin: 0 auto calc(32 / 16 * 1rem);
            width: 100%;
            max-width: calc(360 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-icon {
            /* 68px - 88px */
            width: clamp(4.25rem, 8.8vw, 5.5rem);
            /* 68px - 88px */
            height: clamp(4.25rem, 8.8vw, 5.5rem);
            margin: auto;
            /* 20px - 24px */
            margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
            background: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                /* 44px - 52px */
                width: clamp(2.75rem, 5.8vw, 3.25rem);
                height: auto;
            }
        }

        .cs-title {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-text {
            font-size: calc(16 / 16 * 1rem);
            text-align: center;
            line-height: 1.5em;
            max-width: calc(360 / 16 * 1rem);
            margin: 0 auto;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #h-services-143 {
        .cs-card-group {
            max-width: calc(784 / 16 * 1rem);
            /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(4.75rem, 20vw, 20rem) * -1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            width: 45%;
            max-width: calc(314 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #h-services-143 {
        .cs-card-group {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
        }

        .cs-item {
            margin: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #h-services-143 {
            .cs-card-group {
                background: var(--medium);
            }

            .cs-icon {
                background: var(--darkTint);
            }

            .cs-title {
                color: #fff;
            }

            .cs-text {
                color: #fff;
            }
        }
    }
}
