/*-- -------------------------- */
/*---       Side By Side        */
/*--- -------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2291 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(48/16 * 1rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-features {
            width: 100%;
            margin: 0 0 calc(32/16 * 1rem);
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            background-color: #fef5f4;
            border-left: calc(4/16 * 1rem) solid var(--secondary);
        }

        .cs-h3 {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 calc(12/16 * 1rem);
            color: var(--headerColor);
        }

        .cs-ul {
            font-size: calc(12/16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(12/16 * 1rem);
        }

        .cs-li {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            &::before {
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(8/16 * 1rem);
                margin-top: calc(8/16 * 1rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: #1a1a1a;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: calc(626/16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: calc(95/16 * 1rem);
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2291 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            align-items: stretch;
            gap: calc(20/16 * 1rem);
        }

        .cs-content {
            padding-right: calc(52/16 * 1rem);
            padding-left: 0;
            padding-bottom: calc(108/16 * 1rem);
        }

        .cs-image-group {
            height: auto;
            min-height: calc(642/16 * 1rem);
            max-height: 100%;
        }

        .cs-picture {
            bottom: calc(64/16 * 1rem);
        }
    }
}
