/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-264 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to center for stacked layout */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally */
            align-items: center;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primaryLight);
            }
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            position: relative;
            display: block;
            width: 100%;
            aspect-ratio: 1 / 1;
            font-size: clamp(1rem, 1.7vw, 1.5rem);
            color: #fff;
            /* 16px - 20px top & bottom */
            /* 20px - 24px left & right */
            padding: clamp(1rem, 2vw, 1.25rem) clamp(1.25rem, 2vw, 1.5rem);
            border-radius: calc(16 / 16 * 1rem);
            overflow: hidden;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
        }

        .cs-link {
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            position: relative;
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
            z-index: 2;
        }

        .cs-picture {
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 0;
            overflow: hidden;
            border-radius: calc(16 / 16 * 1rem);

            &:before {
                /* overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.4;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                transition: opacity 0.3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.3s;
            }
        }

        /* Mobile hover/touch effects */
        .cs-item {
            &:active,
            &:hover {
                .cs-picture {
                    &:before {
                        opacity: 0.6;
                    }
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-264 {
        .cs-container {
            flex-direction: column;
        }

        .cs-card-group {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            /* 20px - 24px */
            gap: clamp(1.25rem, 2vw, 1.5rem);
        }

        .cs-item {
            width: 100%;
            aspect-ratio: 1 / 1;

            &:hover {
                .cs-picture {
                    &:before {
                        opacity: 0.6;
                    }
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-264 {
        .cs-card-group {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-264 {
            .cs-topper {
                color: var(--primary);
            }
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
