/*-- -------------------------- -->
<---          Services #1338    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1338 {
        padding: var(--sectionPadding);
        padding-right: 0;
        padding-left: 0;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(2500 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            padding: 0 clamp(1rem, 3.8vw, 2.5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            height: clamp(18.75rem, 50vw, 36.25rem);
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;

            &:hover {
                .cs-picture {
                    &::after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-info {
                    background-color: var(--primary);
                }

                .cs-h3,
                .cs-item-text {
                    color: #1a1a1a;
                }

                .cs-arrow {
                    opacity: 0.12;
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                pointer-events: none;
                z-index: -1;
                transition: opacity 0.3s;
            }
        }

        .cs-info {
            text-align: center;
            width: 83%;
            max-width: calc(385 / 16 * 1rem);
            margin: 0 auto;
            padding: clamp(1rem, 2.7vw, 2.5rem);
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: flex;
            flex-direction: column;
            transition: background-color 0.3s;
        }

        .cs-h3 {
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            display: block;
            z-index: -1;
            overflow: hidden;
            position: absolute;
            bottom: calc(40 / 16 * 1rem);
            left: 0;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to bottom,
                    rgba(26, 26, 26, 0) 0%,
                    rgba(0, 0, 0, 0.76) 100%
                );
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to bottom,
                    rgba(26, 26, 26, 0.4) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                );
                opacity: 0;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-arrow {
            width: 100%;
            height: auto;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: bottom 0.3s, opacity 0.3s, transform 0.3s;
        }

        .cs-service-actions {
            padding: 0 clamp(1rem, 3.8vw, 2.5rem);
            text-align: center;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1338 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1338 {
        .cs-item {
            grid-column: span 3;
        }
    }
}
